@model WebApplication.Utils.PaginatedList<WebApplication.Models.GenreViewModel>


@{
    ViewData["Title"] = "Genre Page";
}

<div class="jumbotron">
    <h1 class="display-3">Genres</h1>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="~/Genres/Genre/" role="button">Add Genre</a>
    </p>
    <p class="lead">
            <a class="btn btn-primary btn-lg" href="~/Genres/Download" role="button">Download</a>
        </p>
</div>

<form method="get">
    <div>
        <input class="form-control mb-4" id="search" name="search" type="text" placeholder="Search.." value="@ViewData["searchFilt"]">
    </div>
</form>


<table class="text-center table table-striped">
    <thead class="thead-light">
    <th scope="col">
        <a asp-action="Index"
           asp-route-sortBy="@ViewData["nameOrder"]"
           asp-route-pageNumber="@ViewData["page"]"
           asp-route-search="@ViewData["searchFilt"]">
            Name
        </a>
    </th>
    <th scope="col" class="col-2">
        Delete
    </th>
    </thead>
    <tbody>

    @foreach (var genre in ViewData.Model)
    {
        <tr class="rows">
            <td>
                <a asp-route-id="@genre.Id" asp-action="Genre">
                    @genre.Name
                </a>
            </td>
            <td>
                <a href="~/Genres/RemoveGenre/?id=@genre.Id" class="btn btn-outline-danger">
                    Remove
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortBy="@ViewData["currentOrder"]"
   asp-route-search="@ViewData["searchFilt"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortBy="@ViewData["currentOrder"]"
   asp-route-search="@ViewData["searchFilt"]"   
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>


